*~
*.swp
*.swo
*.log
*.pyc
*cpython-32.pyc
__pycache__
Thumbs.db
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.png
report.html
output.xml
log.html
reports/*.txt
*.idea
chromedriver.exe
geckodriver.exe
IEDriverServer.exe
MicrosoftWebDriver.exe
RemoteAgentApp.*
*stdout.txt